<table class="hover">
  <caption>Women in Software Engineering Stats</caption>
  <thead>
    <tr>
      <th>Company</th>
      <th>Team</th>
      <th>Females</th>
      <th>Total</th>
      <th>Ratio</th>
      <th>Last updated</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedData as |entity|}}
    <tr>
      <td>{{entity.company}}</td>
      <td>{{entity.team}}</td>
      <td>{{entity.num_female_eng}}</td>
      <td>{{entity.num_eng}}</td>
      <td>{{entity.percent_female_eng}}</td>
      <td>{{moment-from-now entity.last_updated}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
